---
layout: default
---
<div class="post">
  {% capture page_header_liquid_style %}{% if page contains 'page_header_liquid_style' %}{{ page.page_header_liquid_style }}{% elsif site.data[site.active_lang].config contains 'page_header_liquid_style' %}{{ site.data[site.active_lang].config.page_header_liquid_style }}{% endif %}{% endcapture %}
  <header class="post-header" {{ page_header_liquid_style }}>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  {% capture page_article_liquid_style %}{% if page contains 'page_article_liquid_style' %}{{ page.page_article_liquid_style }}{% elsif site.data[site.active_lang].config contains 'page_article_liquid_style' %}{{ site.data[site.active_lang].config.page_article_liquid_style }}{% endif %}{% endcapture %}
  <article {{ page_article_liquid_style }}>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>{{ site.data[site.active_lang].strings.references }}</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
